body {
    margin: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.image-container { position: relative; display: inline-block;
}

img { max-width: 75vw; max-height: 75vw; width: auto; height: auto; }

#closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#closeButton:hover { background-color: rgba(0, 0, 0, 0.8); }